<div class="container-fluid" style="margin-top: 1em;">
	<div class="well">
       <div class="row-fluid">
         <div class="span3">
           <h3>Liste des Modèles</h3>
         </div>
           <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_quotation_template_url ,{:title => "Créer un modèle", :class=>"pull-right btn"}%>
       </div>
     </div>

         
</div>


