<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
      <div class="row-fluid">
       <div class="span3">
         <h2>Liste des Tâches</h2>
       </div>
       <div class="pull-right">
         <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_tach_path %>
       </div>
     </div>
   </div>
         
</div>


