<div class="container-fluid" style="margin-top: 1em;">
   

  <div class="well">
       <div class="row-fluid">
         <div class="span9">
	    <h1><%= "<i class=\"fa fa-home\"></i> #{locals[:title]}".html_safe %></h1>
         <%= render locals[:link] %>
  </div>
         
</div>