<div id="task_value" class="container-fluid">
  <div class="well">

      <legend>
	Filtres
      </legend>

      <%= form_tag(contracts_path, method: :get) do %>
	  <div class="row row-fluid">
          
                

	  <%= submit_tag "Filtrer", :class =>"btn "%>
      <% end %>
    </div>
  </div>
</div>    