<div class="container-fluid" style="margin-top: 1em;">
     <div class="well">
       <div class="row-fluid">
         <div class="span9">
	  <h1><%= "<i class=\"fa fa-suitcase\"></i> #{t('app.controllers.Contract').pluralize.capitalize}".html_safe %></h1>
         </div>
           <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon"></i>'.html_safe, new_account_contract_path(account_id: @account.id) ,{:title => "Créer un Contrat", :class=>"pull-right"}%>
       </div>
     </div>
</div>
