<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1><%= "<i class=\"fa fa-tasks\"></i> #{t('app.model.Task').pluralize}".html_safe %></h1>
         </div>
         <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon pull-right"></i>'.html_safe, new_task_path ,{:title => "#{t('app.actions.create')} #{t('app.default.new_female')} #{t('app.model.Task')}".html_safe} %>
       </div>
     </div>

         
</div>


