<div class="container-fluid" style="margin-top: 1em;">
	<div class="well">
       <div class="row-fluid">
         <div class="span9">
			<h1><%= "<i class=\"fa fa-bell\"></i> #{t('app.model.NotificationCenter')}".html_safe %></h1>
         </div>
       </div>
     </div>    
</div>


