<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Ajout de produits</h3>
</div>
<div class="modal-body">
  <div class="span3" style="margin-left: 50px;">
  <h4>Produit(s) disponible(s) :</h4>
  <% @produits = Produit.order('nom ASC').all %>
  <%= select_tag :produit, options_from_collection_for_select(@produits, "id", "nom"), {:size => 6, :multiple => true} %>
  </div>
  
  <div class="span2" style="padding-top: 3em; margin-left: 2em; margin-right: 2em;">
    
    <a id="compte_ajout_produit" class="btn btn-success btn-mini" href="#" style="margin-bottom: 1em; margin-left : 3em;">
      <i class="icon-arrow-right icon-white"></i>
      Ajouter
    </a>
    <br />
    <br />
    
    <a id="compte_retirer_produit" class="btn btn-warning btn-mini" href="#" style="margin-bottom: 1em; margin-left : 3em;">
      <i class="icon-arrow-left icon-white"></i>
      Retirer
    </a>
  
  </div>
  
  <div class="span3">
    <h4>Produit(s) associé(s) :</h4>
    <%= select_tag :compte_produit, options_from_collection_for_select(@compte.produits.order('nom ASC').all, "id", "nom"), {:size => 6, :multiple => true} %>
    
    
    
  </div>
</div>
<div class="modal-footer">
  <a href="#" id="compte_annuler_ajout" class="btn" data-dismiss="modal">Annuler </a>
  <a href="#" id="compte_valider_ajout" class="btn btn-primary" data-dismiss="modal">Valider</a>
</div>