<table class="table table-bordered table-striped">
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Voir</th>
  </tr>

<% @produits = @compte.produits.order('nom').page(params[:page]) %>
<% @produits.each do |produit| %>
  <tr>
    <td style="width: 15em;"><%= link_to produit.nom, produit %></td>
    <td><%= truncate(produit.description, :length => 600, :separator => ' ') %></td>
    <td><%= link_to image_tag("glyphicons/glyphicons_029_notes_2.png"), produit %></td>
<% end %>
</table>

<br />

<%= paginate @produits %>