<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span3">
           <h3>Liste des Comptes</h3>
         </div>
         <div class="pull-right">
           <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_compte_path %>
         </div>
       </div>
     </div>

         
</div>
