<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
     <div class="row-fluid">
       <div class="span3">
         <h3>Nouveau compte</h3>
        </div>
        <div class="pull-right">
          <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"), :back %>
        </div>
     </div>
   </div>

   <%= render 'form' %>
</div>
