<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
     <div class="row-fluid">
       <div class="span9">
		 <h1><%= "<i class=\"fa fa-random\"></i>  #{t('app.default.new_female').capitalize} #{t('app.controllers.Origin').capitalize}".html_safe %></h1>
        </div>
          <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"}%>
     </div>
   </div>

<%= render 'form' %>
</div>
