<div class="container-fluid">
  <center><div class="row-fluid">
    <hr>
    <p> CoRM &copy; <a href="http://www.sigire.fr" title="Site offciel de SIGIRE">SIGIRE</a> <%= Date.today.year.to_s%> </p>
  </div>
  </center>
</div>
