	<div id="footer">
      <div class="container">
		<p class="text-muted" style="text-align:center">CoRM &copy; <a href="http://www.sigire.fr" title="Site offciel de SIGIRE">SIGIRE</a> <%= Date.today.year.to_s%></p>
      </div>
    </div>
