<div class="container-fluid">
<% unless flash[:notice].blank? %>
  <div class="alert green">
    <button class="close" data-dismiss="alert">×</button>
    <%= content_tag :p, flash[:notice] %>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="alert red">
    <button class="close" data-dismiss="alert">×</button>
    <%= content_tag :p, flash[:error] %>
  </div>
<% end %>

<% unless flash[:alert].blank? %>
  <div class="alert orange">
    <button class="close" data-dismiss="alert">×</button>
    <%= content_tag :p, flash[:alert] %>
  </div>
<% end %>
</div>
