<div class="container-fluid">
<% if !flash[:notice].blank? %>
  <div class="alert notice">
    <button class="close" data-dismiss="alert">×</button>
    <%= content_tag :p, flash[:notice] %>
  </div>
<% end %>
<% if !flash[:error].blank? %>
  <div class="alert error">
    <button class="close" data-dismiss="alert">×</button>
    <%= content_tag :p, flash[:error] %>
  </div>
<% end %>
</div>
