<div class="container-fluid">
     <div class="well" id="title-bar">
          <div class="row-fluid">
              <h1>Statistiques de l'application</h1>
          </div>
     </div>
  <div class="field">
	  <div class="span2">Utilisateurs actifs : </div>
	  <%= @user_count %> <%= @bdd_size %>
  </div>
</div>