<div class="container-fluid">
     <div class="well" id="title-bar">
          <div class="row-fluid">
              <h1>Statistiques de l'application</h1>
          </div>
     </div>
  <div class="field">
		 <p><span class="span2">Utilisateurs actifs : </span><%= @user_count %></p>
		 <p><span class="span2">Nombre de Comptes : </span><%= @bdd_size %></p>
		
  </div>
</div>