<%= form_for(@quotationLine) do |f| %>
  <% if @quotationLine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotationLine.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @quotationLine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
