<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">
     <div class="well" style="margin-top: 1em;">
       <div class="row-fluid">
         <div class="span9">
     
          <%= render 'form' %>
         </div>        
       </div>
     </div>
     
</div>




