<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">
  <h2>Liste des doublons</h2>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	<th class="text-center">Soci&eacute;t&eacute;</th>
	<th class="text-center">Adresse</th>	  
	<th class="text-center">Téléphone</th>      
    </tr>
    </thead>
	<tbody>
        
    <% if !@accounts.empty? %>
        
        <% @accounts.each do |a| %>
            <tr>
                <% if !a.company.nil? %>
			<% then %>
				<td class="text-center"><%= a.company %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>
                
                <% if !a.full_adress.blank? %>
			<% then %>
				<td class="text-center"><%= a.full_adress %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>
		
                <% if !a.tel.blank? %>
			<% then %>
				<td class="text-center"><%= a.tel %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>
                
            </tr>
          <% end %>
    <% end %>
        </tbody>
  </table>
  <%#= page_entries_info @duplicate %>
  <%#= paginate @accounts%> 
</div>