<div class="container-fluid">

   <div class="well" style="margin-top: 1em;">
     <div class="row-fluid">
       <div class="span9">
         <h3><%= @contact.prenom + ' ' + @contact.nom %> (Édition)</h3>
        </div>
        <div class="pull-right">
          <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour"} %>
        </div>
     </div>
   </div>

<%= render 'form' %>

</div>

