<div class="container-fluid" style="margin-top: 1em;">
   

  <div class="well">
       <div class="row-fluid">
         <div class="span9">
	    <h1><%= "<i class=\"fa fa-home\"></i> #{t('app.actions.edition').capitalize} #{t('app.model.Contact')} #{@contact.full_name}".html_safe %></h1>
         </div>
            <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"} %>
        </div>
  </div>
         
</div>

<div class="container-fluid">
     
  <%= render 'form' %>
  
</div>