<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
     <div class="row-fluid">
       <div class="span3">
         <h3>Tags (Nouveau)</h3>
        </div>
        <div class="pull-right">
          <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour"}%>
        </div>
     </div>
   </div>

<%= render 'form' %>
</div>