<div class="span2"> Opportunité : </div>

<!-- si aucun opportunite n'est retourné par le javascript -->
<% if opportunites.nil? %>
  
  <!-- si le tache a deja un compte d'affecté -->
  <% if !@devi.compte.nil? %>
    
    <!-- on affiche les données initiales -->
    <%= collection_select :devi, :opportunite_id, Opportunite.where(:compte_id => @devi.compte.id).order(:nom), :id, :nom, {:include_blank => true}, :remote=>true%>
  
  <% else %>
    
    <!-- sinon on affiche des blancs -->
    <%= collection_select  :devi, :opportunite_id, Opportunite.where(:compte_id => 0), :id, :nom, {:include_blank => true}, :remote=>true %>
  
  <% end %> 

<% else %>
  
  <!-- sinon on affiche les opportunites triés -->
  <%= collection_select  :devi, :opportunite_id, opportunites , :id, :nom, {:include_blank => true}, :remote=>true %>

<% end %>
