<div class="container-fluid" style="margin-top: 1em;">
  <div class="well">
    <div class="row-fluid">
      <div class="span9">
        <h1><%= "<i class=\"fa fa-briefcase\"></i> #{t('app.model.Opportunity').pluralize}".html_safe %></h1>
      </div>
      <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon"></i>'.html_safe, new_opportunity_path ,{:title => "Créer une Opportunité", :class =>"pull-right"}%>
    </div>
  </div>
</div>


