<div class="container-fluid" style="margin-top: 1em;">
  <div class="well">
    <div class="row-fluid">
      <div class="span9">
        <h1>Opportunités</h1>
      </div>
      <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_opportunity_path(account_id: @account.id), {:title => "Créer une Opportunité", :class =>"pull-right btn"}%>
    </div>
  </div>
</div>


