@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import "font-awesome-4.0.3/scss/font-awesome.scss";
//= require ./jquery-ui.css
//= require ./expanding-search-bar.css
$navbarBackgroundHighlight: #333;
$navbarBackground: lighten($navbarBackgroundHighlight, 5%);
$navbarBorder: lighten($navbarBackground, 12%);
$navbarText: #999;
$navbarLinkColor: #999;
$navbarLinkColorHover: #EEE;
$navbarLinkColorActive: #FFF;
$navbarBackground: #000;
$baseFontSize: 13px;
$sansFontFamily: 'Roboto';
$headingsFontFamily: 'Roboto';
// I gather this file is a starting point for the project.

$navbarHeight: 50px;
@import "bootstrap";

//= require jquery.fileupload-ui

@mixin border-radius-top-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-radius-bottom-left($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-radius-top-right($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-radius-bottom-right($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin transit($param, $duration) {
  transition: $param $duration;
  -moz-transition: $param $duration; /* Firefox 4 */
  -webkit-transition: $param $duration; /* Safari and Chrome */
  -o-transition: $param $duration; /* Opera */
}

@import "./bootstrap_overrides.css.scss";
@import "./corm_form.scss";
@import "./corm_navbar.scss";
@import "bootstrap-responsive";
@import "datepicker";
@import "./alertify.core";
@import "./alertify.bootstrap";
@import "./sticky-footer-navbar";

// Ajout des deux etats des évènements
div.event {
display:block;
}

div.event.hidden{
display:none;
}
