@import "bootstrap_and_overrides";
@import "jquery-ui-1.8.21.custom";

/*@mixin radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
*/
#bloc-login {
  width: 548px;
  height: 198px;
  border: 1px solid #D5D5D5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -275px;
  /* @include radius('5px'); */
}

#logo {
  float: left;
  width: 180px;
  height: 180px;
  padding: 9px 13px 9px 12px;
  display: block;

}

#login {
  float: right;
  width: 319px;
  height: 174px;
  padding: 12px;
  display: block;
  margin: 0;
  background-color: #EEEEEE;
}

#bloc-mdp{
  width: 548px;
  height: 198px;
  border: 1px solid #D5D5D5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -275px;
  background-color: #EEEEEE;
}

#event_date_begin_1i,
#event_date_end_1i,
#task_term_1i
{
  width:5em;
}

#event_date_begin_2i,
#event_date_end_2i,
#task_term_2i
{
  width:8em;
}

#event_date_begin_3i,
#event_date_end_3i,
#task_term_3i
{
  width:4em;
}

#event_date_begin_4i,
#event_date_end_4i,
#task_term_4i
{
  width:4em;
}

#event_date_begin_5i,
#event_date_end_5i,
#task_term_5i
{
  width:4em;
}

#event_notes,
#task_notes
{
  width:100%;
}

