.alert {
  position: absolute;
  display: block;
  z-index: 25;
  top: 50px;
  left: 25%;
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0 0 4px 4px;
  opacity: 1;
	@include transit(top, 2s);
  text-align: center;
	img {
		position: absolute;
		top: 18%;
		left: 3%;
	}
  p {
		padding: 18px 0;
		margin: 0;
		display: inline-block;
    text-shadow: none;
    font-size: 22px;
    color: #FFFFFF;
  }
  &.notice {
    background-color: rgba(0,173,238,0.8);
  }
  &.error {
    background-color: rgba(255,0,0,0.8);
  }
	&.alert-warning {
		/** 
		  * Override cause of Devise. Change later
		  * TODO: Rewrite a part of Devise alert generator
		 **/
		background-color: rgba(0, 173, 238, 0.8);
	}
  > button.close {
    position: fixed;
    top: 15px;
    right: 20px;
    line-height: 30px;
    font-size: 40px;
    color: #000;
  }
}
