form {
  .row {
    margin-top: 0;
		min-height: 40px;
    div, p, a, ul, li, select, input, textarea {
      display: inline-block;
    }
    &.row-center {
      margin-left: auto;
      margin-right: auto;
    }
		.typeahead {
			display: block;
			li {
				display: list-item;
				a {
					display: block;
				}
			}
		}
  }
  .field {
    &.small-date {
      width: 160px;
    }
    &.time {
      width: 150px;
    }
    &.full {
      width: 99%;
    }
    p {
			&.full {
				display: block;
        input {
          display: block;
          width: 99%;
        }
			}
		}
  }
}

label {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  &.top {
    display: block;
    margin-bottom: 0;
  }
  &.checkbox {
    font-size: 14px;
    padding: 8px;
    width: auto;
    &:hover {
      background-color: #E1E1E1;
    }
    &:active {
      background-color: #D1D1D1;
    }
    input[type=checkbox] {
      margin-left: 0;
      margin-right: 5px;
      border: 0;
    }
    &.right-field {
      padding: 5px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.small-fields {
  input, textarea {
    width: 80%;
  }
  select {
    width: 86%;
  }
}