// $profile-buttons-right: 0;

// #navbar-inner {
// 	background-color: #1B1B1B;
// 	background-image: linear-gradient(to bottom, #222222, #111111);
// 	background-repeat: repeat-x;
// 	$shadow: 0 0 12px rgba(0, 0, 0, 0.4);
// 	-webkit-box-shadow: $shadow;
// 	-moz-box-shadow: $shadow;
// 	box-shadow: $shadow;
// }

// .navbar {
// 	position: relative;
//   margin-bottom: 0px;
// 	height: 50px;
// 	z-index: 45;
//   > .navbar-inner {
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
// 		height: 50px;
// 		box-shadow: 2px 2px 16px rgba(0,0,0,0.075);
//   }
//   .brand {
//     -moz-transition: all 0.2s linear 0s;
//     color: $black;
//     float: left;
//     font-weight: bold;
//     margin-right: 5px;
//     margin-left: -7px;
//     padding-left: 0;
//     padding-right: 0;
//     font-size: 30px;
//     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
//   }
//   .dropdown-menu {
//     .divider {
//       margin: 2px 1px;
//     }
//   }
//   ul.nav > li {
//     line-height: $button-line-height;
//     margin-left: 1px;
//     background: transparent;
// 		border-color: transparent;
//     @include transit(color, .4s);
//     color: #999;
// 		display: inline-block;
// 		.caret {
// 			@include transit(border-top-color, .4s);
// 		}
//     &:hover {
//       color: #FFF;
//       > a, .caret {
// 				color: inherit;
// 				background: transparent !important;
// 				box-shadow: none;
//       }
//     }
//     &.active {
//       color: #FFF !important;
//       background-color: #000;
//       a {
// 				text-shadow: 0 0 0.2em $navbarTextColorShadow !important;
//       }
//       &:hover > a {
// 				background: transparent !important;
// 				box-shadow: none !important;
//       }
//       & .dropdown-menu li {
// 				a {
// 					color: #000 !important;
// 					text-shadow: none !important;
// 				}
// 				&:hover a {
// 					color: #FFF !important;
// 				}
//       }
//       > a, .caret {
// 				color: inherit;
// 				box-shadow: none;
// 				background: transparent;
// 				text-shadow: inherit;
//       }
//     }
//     > a {
//       padding: 2px 10px;
//       display: inline-block;
//       font-size: 16px;
//       text-align: center;
//       color: inherit;
//       background: transparent !important;
//     }
//     .caret {
//       margin-top: 16px !important;
//       margin-left: 3px;
//       border-top-color: inherit;
//     }
//   }
// }

// #title-bar {
//   z-index: -1;
//   border-radius-top-left: 0;
//   border-radius-top-right: 0;
//   margin-top: 15px;
// }

// #left-bar-container {
//   position: absolute;
//   left: 30px;
//   top: 0;
//   width: 500px;
//   > div {
//     display: inline-block;
//   }
// }

// #right-bar-container {
//   position: absolute;
//   right: 15px;
//   width: 500px;
//   height: 50px;
// }

// #form-search-container {
//   position: absolute;
//   top: 0;
//   z-index: 50;
// }

// #profile_settings_buttons {
//   position: absolute;
//   right: $profile-buttons-right;
//   top: ($form-search-position-top / 2);
// 	> .btn-group {
// 		> ul.dropdown-menu {
// 			margin-top: 8px;
// 			&.left {
// 				&:before {
// 					content: '';
// 					display: inline-block;
// 					border-left: 7px solid transparent;
// 					border-right: 7px solid transparent;
// 					border-bottom: 7px solid #ccc;
// 					border-bottom-color: rgba(0, 0, 0, 0.2);
// 					position: absolute;
// 					top: -7px;
// 					left: 9px;
// 				}
// 				&:after {
// 					content: '';
// 					display: inline-block;
// 					border-left: 6px solid transparent;
// 					border-right: 6px solid transparent;
// 					border-bottom: 6px solid white;
// 					position: absolute;
// 					top: -6px;
// 					left: 10px;
// 				}
// 			}
// 		}
// 	}
//   .btn-group:first-child {
//     margin-left: 0;
//   }
// }

// #link-button-profile {
//   padding-left: 7px;
//   padding-left: 8px;
//   > p {
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     padding: 0;
//     margin: 0;
//   }
// 	&:hover {
// 		> span {
// 			color: black;
// 			&.caret {
// 			  border-top-color: black;
// 			}
// 		}
// 	}
// 	> span {
// 		color: #555;
// 		@include transit(color, .4s);
// 		&.caret {
// 			border-top-color: #555;
// 			@include transit(border-top-color, .4s);
// 		}
// 	}
// }

// #nav-menu {
//   padding: 2px 0 2px 15px;
// 	margin-top: 5px;
//   position: relative;
// 	float: left;
// 	width: auto;
//   @include transit(opacity, 0.5s);
//   &.focus {
//     opacity: 0;
//   }
// }

form#form-search {
  //margin: 0;
  padding-right: 10px;
  // cursor: default;
	// background-color: transparent;
	//background-image: -moz-linear-gradient(to bottom, #222222, #111111);
	//background-image: -webkit-linear-gradient(to bottom, #222222, #111111);
	//background-image: linear-gradient(to bottom, #222222, #111111);
  @include transit(padding, 0.8s);
  #main-search-bar {
		// padding-left: 12px;
    @include transit(width, .5s);
    @include border-radius(15px 0 0 15px);
    width: $form-search-size-width;
		&.focus {
			width: $form-search-size-width-onfocused;
		}
  }
  .add-on {
    @include border-radius(0 15px 15px 0);
  }
}
