<!DOCTYPE html>
<html>
  <head>
    <meta content="multipart/alternative"; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <div class="container-fluid">
      
      <div class="page-header">
        <h2> Récupération du mot de passe</h2>
      </div>
      
      <div class="well">      
    
        <p>Bonjour <%= @resource.full_name %> !</p>
        <p>Vous avez fait une demande pour modifier votre mot de passe. </p>
        <p>Pour réaliser ce changement, cliquez sur le lien suivant :   <%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token =>@token) %></p>
        <p>Si vous n'avez pas fait de demande, veuillez ignorer ce lien.</p>
        <p>Votre mot de passe sera conservé si vous ignorez ce message.</p>
    
      </div>
      
    </div>

  </body>
</html>