<div class="container-fluid" style="margin-top: 1em;">
   

  <div class="well">
       <div class="row-fluid">
         <div class="span9">
				<h1>Comptes</h1>
         </div>
           <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_account_path,{:title => "Créer un compte", :class=>"pull-right btn"} %>
       </div>
    </div>

         
</div>
