<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
     <div class="row-fluid">
       <div class="span9">
         <h1>Nouveau Compte</h1>
        </div>
          <%= link_to '<i class="fa fa-arrow-circle-left fa-3x"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"}%>
     </div>
   </div>

   <%= render 'form' %>
</div>
